<Files ~ "^\.(htaccess|htpasswd)$">
deny from all
</Files>
AuthUserFile /data/domain/D0D0EB10-7A01-11EA-9321-048C0C460029/html/.htpasswd
AuthGroupFile /dev/null
AuthName "Please enter your ID and password"
AuthType Basic
require valid-user
order deny,allow
